<html>
    <head>
            <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet"> 
        <style>
            body{
                background:#29264D;
                height: 100vh;
                width: 100vw;
                text-align: center;
            }
            h1{
                color:#fff;
                font-family: 'Nunito';
                margin-top: 0vh;
            }
        </style>
    </head>
    <body>
        <img src="../Public/heroku.png" alt="">
        <h1>You have successfully deployed you app</h1>
        <a href="https://www.youtube.com/channel/UCE2-NbixMe5hzLZ5-7CTq6Q"><img style ="width: 10vh;"src="../Public/youtube.png" alt=""></a>
    </body>
</html>